<th:block th:fragment="user-page">
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <h1 class="mt-3">User information-page</h1>
        <div class="card">
            <h5 class="card-header">About user</h5>
            <div class="card-body">
                <div>
                    <table class="table table-striped">
                        <tr>
                            <th>ID</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Age</th>
                            <th>E-mail</th>
                            <th>Roles</th>

                        </tr>
                        <tr>
                            <td th:text="${currentUser.getId()}"></td>
                            <td th:text="${currentUser.getFirstName()}"></td>
                            <td th:text="${currentUser.getLastName()}"></td>
                            <td th:text="${currentUser.getAge()}"></td>
                            <td th:text="${currentUser.getUsername()}"></td>
                            <td th:text="${currentUser.getRolesString()}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>