<th:block th:fragment="userlist">
    <div class="card">
        <h5 class="card-header">All users</h5>
        <div class="card-body">
            <div>
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Age</th>
                        <th>E-mail</th>
                        <th>Roles</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.getId()}"></td>
                        <td th:text="${user.getFirstName()}"></td>
                        <td th:text="${user.getLastName()}"></td>
                        <td th:text="${user.getAge()}"></td>
                        <td th:text="${user.getUsername()}"></td>
                        <td th:text="${user.getRolesString()}"></td>
                        <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#userEditModal" th:data-userid="${user.getId()}" data-action="edit">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#userEditModal" th:data-userid="${user.getId()}" data-action="delete">
                                Delete
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</th:block>